.hero {
    padding: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    transition: background-image 1s ease-in-out;
    /* Add transition property */
}

h1 {
    color: white;
    -webkit-text-stroke: 0.7px black;
}

strong {
    color: white;
    /* -webkit-text-fill-color: white; */
    font-size: larger;
    -webkit-text-stroke: 0.7px black;
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-size: 36px;
}

.cta-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #555;
}

.articles {
    padding: 50px;
}

.articles h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.article {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.article:hover {
    background-color: #e0e0e0
}

.article h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.article a {
    text-decoration: none;
    color: #333;
}

.rd {
    float: right;
}

.article p {
    margin-bottom: 0;
}

.view-more {
    display: block;
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.view-more:hover {
    background-color: #555;
}

.about {
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.about-content {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.about-content p {
    margin-bottom: 20px;
}

.learn-more {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.learn-more:hover {
    background-color: #555;
}

/* responsive */
@media only screen and (max-width: 768px) {
    .hero {
        height: 400px;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 16px;
    }
}